<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="alert alert-primary" role="alert">
            <p>Stamp File : </p>
            <form action="/upload-file" enctype="multipart/form-data" method="post" class="upload_form">
                <input type="file" name="file-to-upload">
                <p style="background: white"></p>
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-warning" role="alert">
            <p>Retrieve File : </p>
            <form action="/get-file" method="get" class="upload_form">
                <label><p>Enter transaction hash :</p></label>
                <input type="text" name="txhash">
                <input type="submit" value="Get File">
            </form>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>